.task{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgb(245,245,245);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 46px;
}
.status_date{
    display: flex;
}
.paragrath{
    margin: 0px 0px 0px 0px;
}
.color_text{
    color: rgb(202, 202, 202);
}
.done_checkbox{
    color: gray;
    text-decoration: line-through;
}
.timeOver{
    color: red;
}
.done_task{
    display: none;
}
.buttonDel{
    width: 25px;
}
.showTaskList .done_task{
    display: block;
}
body{
    color: rgb(22,21,31);
    background-color: 	rgb(239,238,245);
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Times New Roman', Times, serif;
}
.background{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.72); 
    box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.72);
}
#task_list{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 15px;
}
h4{
    margin: 0px;
    flex: 30;
}
main{
    display: flex;
    flex-direction: column;
}
.form{
    margin-left: 45px;
    margin-right: 0px;
    padding-bottom: 30px;
    padding-top: 15px;
}
.toDoList{
    flex: 3;
    display: flex;
}
.showTask{
    flex: 1;
    margin-top: 30px;
    margin-right: 45px ;}
.formHeader{
    font-size: 23px;
}
#form{
    display: flex;
    flex-direction: column;
}
.name_button{
    display: flex;

}
.closebtn {
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    flex: 1;
    margin-right: 45px;
}

.closebtn:hover {
    color: rgb(0, 195, 255);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 45px;
    border-bottom: solid 1px rgb(245,245,245);
    margin-bottom: 25px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.checkbox{
    flex: 1;
    margin-right: 45px;
    margin-left: 0px;
}
.paragrath{
    flex: 25;
}
input[type=text] {
    border: none;
    margin-top: 10px;
    font-size: 15px;
    
}
#descriptionInput{
    padding-bottom: 50px;
}
.dateButton{
    display: flex;
}
#dateInput{
    flex: 30;
    margin-top: 0px;
    margin-right: 0px;
}
#button{
    flex: 6;
    margin-right: 45px;
    background-color: rgb(103,46,227);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 450px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 1445px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media (max-width: 1030px) {

    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (max-width: 775px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 430px) {
    .showTask {
        margin-top: 25px;
        margin-right: 10px;
    }
    .formHeader{
        font-size: 15px;
        
    }
    h2{
        font-size: 30px;
    }
    #dateInput{
        flex: 1;
        width: 140px;
        }
    #button{
        flex: 1;
        margin-right: 15px;
        }
        .checkbox{
            margin-right: 15px;
        }
        .closebtn{
            margin-right: 15px;
        }
        .task{
            padding-left: 15px;
        }
        header{
            padding-left: 15px;
        }
        .form{
            margin-left: 15px;
        }
}
@media (max-width: 330px) {
    body{
        margin-left: 2%;
        margin-right: 2%;
    }


}
